@import '../lib/index.scss';

body {
  .dumi-default-header-content {
    max-width: none;
    height: 64px;
    margin: 0;
    background: #fff;
    box-shadow: 0 8px 24px -2px rgb(0 0 0 / 5%);
  }
  .dumi-default-header-left {
    width: 200px;
  }
  .dumi-default-hero {
    margin: 0;
    padding: 90px 0;
    user-select: none;
    max-width: none;
    height: auto;
    &::before {
      display: none;
    }
    .dumi-default-hero-title {
      font-size: 48px;
      & > span {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    & > p {
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
    }
    & + main {
      background: #fff;
      .dumi-default-content {
        max-width: 960px;
        margin: 0 auto;
      }
    }
  }
  .dumi-default-search-bar {
    display: none;
  }
  .dumi-default-doc-layout > main {
    padding: 12px;
    margin: 0;
    gap: 12px;
    max-width: none;
  }
  .dumi-default-sidebar {
    width: 200px !important;
    height: calc(100vh - 64px - 24px);
    max-height: none !important;
    padding: 12px;
    background: #fff;
  }
  .dumi-default-doc-layout-toc-wrapper {
    width: 200px !important;
    top: 76px !important;
    margin: 0 !important;
    padding: 12px !important;
    background: #fff !important;
    height: calc(100vh - 64px - 24px);
    max-height: none !important;
  }
  .dumi-default-content {
    padding: 12px !important;
    border-radius: 0 !important;
  }
}

body .markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & > a[aria-hidden]:first-child {
      display: none;
    }
  }
}

body .dumi-default-previewer {
  &:last-child {
    margin-bottom: 0;
  }
  .dumi-default-previewer-meta {
    .dumi-default-previewer-actions > a {
      display: none;
    }
  }
}
